<%- include('includes/head'); -%>   
<section>
    <img src="<%= dashboardUserAvatar  %>">
    <ul>
        <li><h3><%= dashboardUserName %></h3></li>
        <li><h3>Email: <%= dashboardUserEmail %></h3></li>
        <li><h3>Plano: <%- dashboardUserPlan %></h3></li>
        <li><h3>Duração: <%- dashboardUserDuration %></h3></li>
    </ul>
</section>
<h1>Shotzzy, Bem vindo(a) a Dashboard</h1>
<%- include('includes/footer'); -%>